In [ ]:
# Data Import and Clean Up

In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth',-1)


rawdata = pd.read_csv('bua_data.csv')
data = rawdata
data = data.drop(['Rooms'],axis=1)

# Clean up Data

data = data.replace({'BBP' : {'yes' : 1}})
data = data.fillna("")
data = data.replace({'Evaluator' : {'w' : 'Pamela'}})

# BUA General Stats

In [8]:
buas = data[data['Biosafety Level'] != ""]
bbps = buas[buas['BBP'] == 1]
bsl2s = buas[buas['Biosafety Level'] == 'BL2']
bsl1s = buas[buas['Biosafety Level'] == 'BL1']
buav1 = buas[buas['bua'] == 1]
buav2 = buas[buas['bua'] == 2]

print("BSL1:\t\t\t",len(bsl1s.index))
print("BSL2:\t\t\t",len(bsl2s.index))
print("Number of BUAs:\t\t",len(buas.index))
print("Number of BBP Labs:\t",len(bbps.index))
print("BUAs in v1:\t\t",len(buav1.index)+2)
print("BUAs in v2:\t\t",len(buav2.index))

BSL1:			 54
BSL2:			 77
Number of BUAs:		 131
Number of BBP Labs:	 55
BUAs in v1:		 106
BUAs in v2:		 25

In [5]:
# BUAs per Inspector

In [6]:
totalpi = buas['Evaluator'].value_counts()
bl1pi = bsl1s['Evaluator'].value_counts()
bl2pi = bsl2s['Evaluator'].value_counts()
per_inspector = (pd.concat([totalpi.rename("Total"),bl1pi.rename("BL1"),bl2pi.rename("BL2")],axis=1,sort=False)).fillna("")
#per_inspector

# BUAs per Department

In [136]:
bl1dept = bsl1s['Department'].value_counts()
totaldept = buas['Department'].value_counts()
bl2dept = bsl2s['Department'].value_counts()
per_dept = (pd.concat([totaldept.rename("All"),bl1dept.rename("BL1"),bl2dept.rename("BL2")],axis=1,sort=False)).fillna("")
per_dept = per_dept.replace('',0)
per_dept['%BL2'] = ((per_dept['BL2'] / (per_dept['BL1'] + per_dept['BL2'])).round(2)) * 100
per_dept

                                                    All   BL1   BL2   %BL2
BOTANY AND PLANT SCIENCES                           21   20.0  1.0   5.0
MOLECULAR, CELL AND SYSTEMS BIOLOGY                 20   5.0   15.0  75.0
MICROBIOLOGY AND PLANT PATHOLOGY                    19   7.0   12.0  63.0
BIOMEDICAL SCIENCES                                 15   1.0   14.0  93.0
BIOCHEMISTRY                                        11   6.0   5.0   45.0
BIOENGINEERING                                      11   2.0   9.0   82.0
ENTOMOLOGY                                          7    2.0   5.0   71.0
CHEMICAL/ENVIRON. ENGINEERING                       7    5.0   2.0   29.0
CHEMISTRY                                           6    0.0   6.0   100.0
ENVIRONMENTAL SCIENCES                              3    0.0   3.0   100.0
PSYCHOLOGY                                          3    2.0   1.0   33.0
NEMATOLOGY                                          2    1.0   1.0   50.0
MATHEMATICS                                         1    0.0   1.0   100.0
BIOMEDICAL SCIENCES                                 1    0.0   1.0   100.0
ELECTRICAL AND COMPUTER ENGINEERING                 1    1.0   0.0   0.0
CNAS RESEARCH CENTER - PLANT TRANSFORMATION CENTER  1    1.0   0.0   0.0
MECHANICAL ENGINEERING                              1    0.0   1.0   100.0
EVOLUTION, ECOLOGY AND ORGANISMAL BIOLOGY           1    1.0   0.0   0.0

In [119]:
bl1clg = bsl1s['College'].value_counts()
totalclg = buas['College'].value_counts()
bl2clg = bsl2s['College'].value_counts()
per_clg = (pd.concat([totalclg.rename("All"),bl1clg.rename("BL1"),bl2clg.rename("BL2")],axis=1,sort=False)).fillna("")
per_clg

       All  BL1  BL2
CNAS   92   43   49
BCOE   20   8    12
SOM    16   1    15
CHASS  3    2    1

In [ ]:
### BSL2 Labs Under RSS/PPE

In [7]:
#bsl2s[bsl2s['Evaluator'] == 'RSS/PPE']

In [144]:
### BSL2 Labs for Kyle

In [143]:
#bsl2s[bsl2s['Evaluator'] == 'Kyle']